<!-- HTML/CSS for SignUp page -->

<div class="form forgot-password">
    <div class="form-content">
        <header>Forgot Password</header>
        <form action="" method="post">
            <div class="field input-field">
                <input type="email" placeholder="Email" class="input" name="email" autocomplete="off" required>
            </div>
            <% if(msg) { %>
                <span id="Message"><%= msg %></span>
            <% } %>
            <div class="field button-field">
                <button id="submit-btn" onclick="forgotPassword();">Submit</button>
            </div>
            <div class="field button-field">
                <button id="back-to-login-btn" onclick="backToLogin();">Back to Login</button>
            </div>
        </form>

        <!-- <div class="form-link">
            <span>Already have an account? <a href="/api/users/signin" class="link login-link">Login</a></span>
        </div> -->
    </div>

</div>
<script>
    const message = document.getElementById("Message");
    if(message.innerText == "User Not Found!") {
        message.style.color = "Red";
    }
    if(message.innerText == "New password sent through Email!") {
        message.style.color = "Green";
        document.getElementById("submit-btn").disabled = true;
    }
    var backToLogin = function() {
        window.location.href = "/api/users/signin";
    }
    

</script>