<!-- HTML/CSS for SignUp page -->

<div class="form reset-password">
    <div class="form-content">
        <form action="/api/users/reset-password" method="post">
            <div class="field input-field">
                <input type="password" placeholder="Create password" class="password" id="Password" name="password" onkeyup='passConfirm();' required>
            </div>
            <div class="field input-field">
                <input type="password" placeholder="Confirm password" class="password" id="ConfirmPassword" onkeyup='passConfirm();' required>
                <i class='bx bx-hide eye-icon'></i>
            </div>
            <span id="Message"></span>
            <div class="field button-field">
                <button id="passChange-btn">Submit</button>
            </div>
        </form>
    </div>
</div>

<script>
    const pass = document.getElementById("Password");
    const confirmPass = document.getElementById("ConfirmPassword");
    const message = document.getElementById("Message");
    var passConfirm = function() {
        document.getElementById("passChange-btn").disabled = pass.value.length === 0 || pass.value != confirmPass.value;
        if(pass.value.length == 0) {
            message.style.color = "Red";
            message.innerHTML = "Passwords Cannot Be Empty!"
        } else {
            if (pass.value == confirmPass.value) {
                message.style.color = "Green";
                message.innerHTML = "Passwords Matches!"
            } else {
                message.style.color = "Red";
                message.innerHTML = "Passwords Do NOT Match!"
            }
        }
    }
</script>
