<!-- Page for home screen -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
            text-align: center;
        }
        h1 {
            color: white;
        }
        button {
            color: black;
            border: 1px solid grey;
            border-radius: 10px;
            background-color: white;
        }
        button:hover {
            background-color: black;
            color: white;
        }
    </style>
    <link rel="stylesheet" href="/styles.css"/>
    <title>NodeJS Authentication</title>
</head>
<body>
    <div>
        <h1>Welcome</h1>
        <form action="/api/users/signout" method="GET">
            <button>Sign Out</button>
        </form>
        <form action="/api/users/reset-password" method="GET">
            <button>Reset Password</button>
        </form>
    </div>
</body>
</html>